# Aerial-Cactus-Identification
Determine whether an image contains a columnar cactus

### Load and preprocessing data

In [12]:
import pandas as pd
import os
import random
from sklearn.utils import shuffle

import tensorflow as tf
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [2]:
ls aerial-cactus-identification_data/

sample_submission.csv* train/
test/                  train.csv*

In [35]:
df = pd.read_csv("./aerial-cactus-identification_data/train.csv")
df.head()

                                     id  has_cactus
0  0004be2cfeaba1c0361d39e2b000257b.jpg           1
1  000c8a36845c0208e833c79c1bffedd1.jpg           1
2  000d1e9a533f62e55c289303b072733d.jpg           1
3  0011485b40695e9138e92d0b3fb55128.jpg           1
4  0014d7a11e90b62848904c1418fc8cf2.jpg           1

In [36]:
# df['id'] = df['id'].apply(lambda x:os.path.join('./aerial-cactus-identification_data/train', x))
# df.head()

In [ ]:
labels = {0:"no_cactus", 1:"has_cactus"}

for idx, i in enumerate(df["has_cactus"]):
    df.loc[idx, "has_cactus"] = labels[i]
df.head()

In [26]:
df = shuffle(df, random_state=100)
df.reset_index(drop=True, inplace=True)
df.head()

                                                  id  has_cactus
0  ./aerial-cactus-identification_data/train/ca24...  has_cactus
1  ./aerial-cactus-identification_data/train/9024...  has_cactus
2  ./aerial-cactus-identification_data/train/206c...  has_cactus
3  ./aerial-cactus-identification_data/train/f624...  has_cactus
4  ./aerial-cactus-identification_data/train/04d3...  has_cactus

In [27]:
df_val = df.iloc[:int(0.1*len(df))]
df_val.reset_index(drop=True, inplace=True)
df_val.head()

                                                  id  has_cactus
0  ./aerial-cactus-identification_data/train/ca24...  has_cactus
1  ./aerial-cactus-identification_data/train/9024...  has_cactus
2  ./aerial-cactus-identification_data/train/206c...  has_cactus
3  ./aerial-cactus-identification_data/train/f624...  has_cactus
4  ./aerial-cactus-identification_data/train/04d3...  has_cactus

In [28]:
df_train = df.iloc[int(0.1*len(df)):]
df_train.reset_index(drop=True, inplace=True)
df_train.head()

                                                  id  has_cactus
0  ./aerial-cactus-identification_data/train/979b...  has_cactus
1  ./aerial-cactus-identification_data/train/e5c5...  has_cactus
2  ./aerial-cactus-identification_data/train/584a...  has_cactus
3  ./aerial-cactus-identification_data/train/9272...  has_cactus
4  ./aerial-cactus-identification_data/train/49a2...  has_cactus

In [31]:
datagen=ImageDataGenerator(rescale=1./255)

train_generator=datagen.flow_from_dataframe(
dataframe=df_train,
directory="./aerial-cactus-identification_data/train/",
x_col="id",
y_col="has_cactus",
subset="training",
batch_size=32,
seed=None,
shuffle=None,
class_mode="binary",
target_size=(32,32))

Found 0 validated image filenames belonging to 0 classes.

In [34]:
train_generator.class_indices

{}